body {
  background-color:#302013;
  font-family: "Hammersmith One", sans-serif;
  overflow:scroll;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;

    /* Fading */
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.header {
  color: rgb(255, 239, 219);
  text-align: left;
  margin: 2.5%;
  margin-right: 40%;
  display:block;
}

.contacts, #resume {
  color:rgb(255, 239, 219);
  font-family: "Hammersmith One", sans-serif;
  text-decoration: none;
  font-size: 26px;
}

#gallery, #case1, #case2 {
  display:inline-block;
  margin: 2.5%;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:rgb(255, 239, 219);
  font-family: "Hammersmith One", sans-serif;
	font-size:13px;
	padding:6px 20px;
  margin-left: 2.5%;
  text-decoration: none;
  width:85px;
  text-align:left;
}
.myButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
}
.myButton:active {
	position:relative;
	top:1px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
